/*primary colors*/
$white: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-10: rgba(255, 255, 255, 0.1);
$white-05: rgba(197, 112, 112, 0.05);

$dark: #081E31;
$dark-90: #2a2a2a;
$dark-80: #414141;
$dark-70: #595959;
$dark-60: #717171;
$dark-50: #888888;
$dark-40: #a0a0a0;
$dark-30: #b8b8b8;
$dark-20: #d0d0d0;
$dark-10: #e7e7e7;
$dark-05: #f3f3f3;

$orange: #FF4F28;
$yellow: #FFBB54;
$a3: #3a3a3a;
// border-color
$border: #d0d0d0;





